.text-yellow {
    color: yellow;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-light-green {
    background-color: lightgreen;
}

.bg-purple {
    background-color: purple;
}

.bg-pink {
    background-color: pink;
}

.bg-yellow {
    background-color: yellow;
}

.bg-orange {
    background-color: orange;
}

.bg-dark-blue {
    background-color: darkblue;
}