.bg-gray {
    background-color: #848698;
}

.bg-light-gray {
    background-color: #e9ecef;
}

.text-gray {
    color: #848698;
}

.text-black {
    color: #000;
}

.btn {
    border: none;
    border-radius: 4px;
    font-weight: bold;
    padding: 10px 15px;
    border: 1px solid #cbccd6;
}

.btn-white {
    background-color: white;
}

.text-decoration-none {
    text-decoration: none;
}

.text-title {
    color: #de3f1c;
    font-family: 'Source Serif Pro', serif;
    font-size: 32px;
}